/* static/css/graffiti.css */

.graffiti-toolbar .btn { margin-right: 8px; }

.graffiti-canvas-wrap {
  position: relative;
  width: 100%;
  height: 420px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  background: #fff;
  overflow: hidden;
}

.graffiti-canvas-wrap > canvas#c {
  width: 100%;
  height: 100%;
  display: block;
  cursor: crosshair;
}
